<table class="table statements">
  <thead>
    <th>Settlement ID</th>
    <th>Period</th>
    <th>Deposit Total</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @amazon_statements.each do |as| %>
    <tr>
      <td><%= as.settlement_id %></td>
      <td><%= as.period %></td>
      <td><%= as.deposit_total %></td>
      <td><%= as.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Fetch", fetch_user_amazon_statements_path(current_user), remote: true, class: "btn btn-success btn-sm" %>
<div class="spinner">
  <i class="fa fa-refresh fa-spin"></i>
  <small>Retrieving data from amazon, please wait...</small>
</div>

<script>
$( document ).ready(function() {
  $(".spinner").hide();

  $(document).ajaxStart(function(){
    $(".spinner").show();
  });

  $(document).ajaxStop(function(){
    $(".spinner").hide();
    location.reload();
  });
});
</script>
