<%= form_for [@user, @configuration] do |f| %>
  <% if @configuration.errors.any? %>
    <h2><%= pluralize(@configuration.errors.count, "error") %> prevented this form from being saved:</h2>
    <div class="errors">
      <ul>
      <% @configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :primary_marketplace_id, "Primary Marketplace ID" %><br/>
    <%= f.text_field :primary_marketplace_id %>
  </p>

  <p>
    <%= f.label :merchant_id, "Merchant ID" %><br/>
    <%= f.text_field :merchant_id %>
  </p>

  <p>
    <%= f.label :auth_token, "Authorization Token" %><br/>
    <%= f.text_field :auth_token %>
  </p>

  <%= f.submit %>
<% end %>
